In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\adaga\OneDrive\Desktop\python ETC\pandas\Sarika Maam pandas\Datasets\movies_updated (2).csv")
df.head(4)

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,"runtime,,"
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000,46998772.0,Warner Bros.,"146.0,"
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000,58853106.0,Columbia Pictures,"104.0,"
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000,538375067.0,Lucasfilm,"124.0,"
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000,83453539.0,Paramount Pictures,"88.0,"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4000 non-null   object
 1   rating     3960 non-null   object
 2   genre      4000 non-null   object
 3   year       4000 non-null   int64
 4   released   4000 non-null   object
 5   score      4000 non-null   float64
 6   votes      4000 non-null   int64
 7   director   4000 non-null   object
 8   writer     3999 non-null   object
 9   star       3999 non-null   object
 10  country    4000 non-null   object
 11  budget     4000 non-null   int64
 12  gross      3831 non-null   float64
 13  company    3990 non-null   object
 14  runtime,,  4000 non-null   object
dtypes: float64(2), int64(3), object(10)
memory usage: 468.9+ KB

In [4]:
df.isnull()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,"runtime,,"
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [5]:
df.isnull().sum()

name           0
rating        40
genre          0
year           0
released       0
score          0
votes          0
director       0
writer         1
star           1
country        0
budget         0
gross        169
company       10
runtime,,      0
dtype: int64

In [6]:
df.head(2)

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,"runtime,,"
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000,46998772.0,Warner Bros.,"146.0,"
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000,58853106.0,Columbia Pictures,"104.0,"

# Group By
it is used to make a group of the data according to the conditions

In [7]:
df['genre'].unique()

array(['Drama', 'Adventure', 'Action', 'Comedy', 'Horror', 'Biography',
       'Crime', 'Fantasy', 'Family', 'Sci-Fi', 'Animation', 'Romance',
       'Music', 'Western', 'Thriller', 'History', 'Mystery'], dtype=object)

In [8]:
len(df['genre'].unique())

17

In [9]:
df.groupby('genre') #

['Crime', 'Action', 'Drama', 'Western', 'Adventure', 'Biography',
       'Comedy', 'Animation', 'Mystery', 'Horror', 'Film-Noir', 'Sci-Fi',
       'History', 'Thriller', 'Family', 'Fantasy']

In [10]:
df1 = df.groupby("genre")
df1

In [11]:
df1= df.groupby(["genre","rating"]).get_group(("Action","PG"))
df1

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,"runtime,,"
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000,538375067.0,Lucasfilm,"124.0,"
8,Superman II,PG,Action,1980,"June 19, 1981 (United States)",6.8,101000,Richard Lester,Jerry Siegel,Gene Hackman,United States,54000000,108185706.0,Dovemead Films,"127.0,"
10,Any Which Way You Can,PG,Action,1980,"December 17, 1980 (United States)",6.1,18000,Buddy Van Horn,Stanford Sherman,Clint Eastwood,United States,15000000,70687344.0,The Malpaso Company,"116.0,"
22,The Final Countdown,PG,Action,1980,"August 1, 1980 (United States)",6.7,22000,Don Taylor,Thomas Hunter,Kirk Douglas,United States,12000000,16647800.0,Bryna Productions,"103.0,"
27,Raise the Titanic,PG,Action,1980,"August 1, 1980 (United States)",5.0,4100,Jerry Jameson,Adam Kennedy,Jason Robards,United Kingdom,36000000,NaN,ITC Films,"115.0,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3589,Godzilla 2000: Millennium,PG,Action,1999,"August 18, 2000 (United States)",6.1,7900,Takao Okawara,Hiroshi Kashiwabara,Takehiro Murata,Japan,13000000,12924063.0,Toho Pictures,"99.0,"
3891,Spy Kids,PG,Action,2001,"March 30, 2001 (United States)",5.5,111000,Robert Rodriguez,Robert Rodriguez,Alexa PenaVega,United States,35000000,147934180.0,Dimension Films,"88.0,"
3917,Crocodile Dundee in Los Angeles,PG,Action,2001,"April 20, 2001 (United States)",4.8,24000,Simon Wincer,Paul Hogan,Paul Hogan,Australia,21150000,39438674.0,Bungalow Productions,"95.0,"
3954,Shaolin Soccer,PG,Action,2001,"July 5, 2001 (China)",7.3,76000,Stephen Chow,Stephen Chow,Stephen Chow,Hong Kong,10000000,42776760.0,Star Overseas,"87.0,"
3969,Cats & Dogs,PG,Action,2001,"July 4, 2001 (United States)",5.1,57000,Lawrence Guterman,John Requa,Alec Baldwin,United States,60000000,200687492.0,Warner Bros.,"87.0,"

In [12]:
df1 = df.groupby('genre').get_group('Action')
df1

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,"runtime,,"
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000,538375067.0,Lucasfilm,"124.0,"
6,The Blues Brothers,R,Action,1980,"June 20, 1980 (United States)",7.9,188000,John Landis,Dan Aykroyd,John Belushi,United States,27000000,115229890.0,Universal Pictures,"133.0,"
8,Superman II,PG,Action,1980,"June 19, 1981 (United States)",6.8,101000,Richard Lester,Jerry Siegel,Gene Hackman,United States,54000000,108185706.0,Dovemead Films,"127.0,"
10,Any Which Way You Can,PG,Action,1980,"December 17, 1980 (United States)",6.1,18000,Buddy Van Horn,Stanford Sherman,Clint Eastwood,United States,15000000,70687344.0,The Malpaso Company,"116.0,"
22,The Final Countdown,PG,Action,1980,"August 1, 1980 (United States)",6.7,22000,Don Taylor,Thomas Hunter,Kirk Douglas,United States,12000000,16647800.0,Bryna Productions,"103.0,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3969,Cats & Dogs,PG,Action,2001,"July 4, 2001 (United States)",5.1,57000,Lawrence Guterman,John Requa,Alec Baldwin,United States,60000000,200687492.0,Warner Bros.,"87.0,"
3972,Kiss of the Dragon,R,Action,2001,"July 6, 2001 (United States)",6.6,62000,Chris Nahon,Jet Li,Jet Li,France,25000000,64437847.0,Twentieth Century Fox,"98.0,"
3982,Formula 51,R,Action,2001,"October 18, 2002 (United States)",6.3,48000,Ronny Yu,Stel Pavlou,Samuel L. Jackson,United Kingdom,27000000,12881605.0,Alliance Atlantis Communications,"93.0,"
3983,15 Minutes,R,Action,2001,"March 9, 2001 (United States)",6.1,49000,John Herzfeld,John Herzfeld,Robert De Niro,United States,60000000,56359980.0,New Line Cinema,"120.0,"
3993,The Musketeer,PG-13,Action,2001,"September 7, 2001 (United States)",4.8,14000,Peter Hyams,Alexandre Dumas,Justin Chambers,Germany,40000000,32533802.0,Centurion,"104.0,"

In [13]:
df

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,"runtime,,"
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000,46998772.0,Warner Bros.,"146.0,"
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000,58853106.0,Columbia Pictures,"104.0,"
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000,538375067.0,Lucasfilm,"124.0,"
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000,83453539.0,Paramount Pictures,"88.0,"
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000,39846344.0,Orion Pictures,"98.0,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,Birthday Girl,R,Comedy,2001,"February 1, 2002 (United States)",6.1,25000,Jez Butterworth,Tom Butterworth,Nicole Kidman,United Kingdom,13000000,16171098.0,FilmFour,"93.0,"
3996,Human Nature,R,Comedy,2001,"September 12, 2001 (France)",6.4,18000,Michel Gondry,Charlie Kaufman,Tim Robbins,France,0,1574660.0,Fine Line Features,"96.0,"
3997,Made,R,Comedy,2001,"August 31, 2001 (United States)",6.4,18000,Jon Favreau,Jon Favreau,Vince Vaughn,United States,5000000,5480653.0,Artisan Entertainment,"95.0,"
3998,One Night at McCool's,R,Comedy,2001,"April 27, 2001 (United States)",6.1,29000,Harald Zwart,Stan Seidel,Liv Tyler,United States,18000000,13578186.0,October Films,"93.0,"
3999,Dr. Dolittle 2,PG,Comedy,2001,"June 22, 2001 (United States)",4.7,42000,Steve Carr,Hugh Lofting,Eddie Murphy,United States,70000000,176104344.0,Twentieth Century Fox,"87.0,"

In [14]:
len(df['name'].unique())

3971

In [15]:
df['rating'].unique()

array(['R', 'PG', 'G', nan, 'Not Rated', 'NC-17', 'Approved', 'TV-PG',
       'PG-13', 'Unrated', 'X', 'TV-MA'], dtype=object)

In [16]:
df.groupby('rating').get_group('R')

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,"runtime,,"
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000,46998772.0,Warner Bros.,"146.0,"
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000,58853106.0,Columbia Pictures,"104.0,"
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000,39846344.0,Orion Pictures,"98.0,"
5,Friday the 13th,R,Horror,1980,"May 9, 1980 (United States)",6.4,123000,Sean S. Cunningham,Victor Miller,Betsy Palmer,United States,550000,39754601.0,Paramount Pictures,"95.0,"
6,The Blues Brothers,R,Action,1980,"June 20, 1980 (United States)",7.9,188000,John Landis,Dan Aykroyd,John Belushi,United States,27000000,115229890.0,Universal Pictures,"133.0,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3994,O,R,Drama,2001,"August 31, 2001 (United States)",6.1,19000,Tim Blake Nelson,William Shakespeare,Mekhi Phifer,United States,5000000,19260537.0,Chickie the Cop,"95.0,"
3995,Birthday Girl,R,Comedy,2001,"February 1, 2002 (United States)",6.1,25000,Jez Butterworth,Tom Butterworth,Nicole Kidman,United Kingdom,13000000,16171098.0,FilmFour,"93.0,"
3996,Human Nature,R,Comedy,2001,"September 12, 2001 (France)",6.4,18000,Michel Gondry,Charlie Kaufman,Tim Robbins,France,0,1574660.0,Fine Line Features,"96.0,"
3997,Made,R,Comedy,2001,"August 31, 2001 (United States)",6.4,18000,Jon Favreau,Jon Favreau,Vince Vaughn,United States,5000000,5480653.0,Artisan Entertainment,"95.0,"
3998,One Night at McCool's,R,Comedy,2001,"April 27, 2001 (United States)",6.1,29000,Harald Zwart,Stan Seidel,Liv Tyler,United States,18000000,13578186.0,October Films,"93.0,"

In [17]:
df.groupby(['name','genre']).get_group(('Superman II','Action'))

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,"runtime,,"
8,Superman II,PG,Action,1980,"June 19, 1981 (United States)",6.8,101000,Richard Lester,Jerry Siegel,Gene Hackman,United States,54000000,108185706.0,Dovemead Films,"127.0,"

In [18]:
df.groupby(['name','rating']).get_group(('Superman II','PG'))

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,"runtime,,"
8,Superman II,PG,Action,1980,"June 19, 1981 (United States)",6.8,101000,Richard Lester,Jerry Siegel,Gene Hackman,United States,54000000,108185706.0,Dovemead Films,"127.0,"

make a group of the data where rating is pg and gener is action

In [20]:
df.groupby(['rating','genre']).get_group(('R','Biography'))

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,"runtime,,"
7,Raging Bull,R,Biography,1980,"December 19, 1980 (United States)",8.2,330000,Martin Scorsese,Jake LaMotta,Robert De Niro,United States,18000000,23402427.0,Chartoff-Winkler Productions,"129.0,"
9,The Long Riders,R,Biography,1980,"May 16, 1980 (United States)",7.0,10000,Walter Hill,Bill Bryden,David Carradine,United States,10000000,15795189.0,United Artists,"100.0,"
43,Where the Buffalo Roam,R,Biography,1980,"April 25, 1980 (United States)",6.6,11000,Art Linson,Hunter S. Thompson,Peter Boyle,United States,0,6659377.0,Universal Pictures,"99.0,"
132,Mommie Dearest,R,Biography,1981,"September 25, 1981 (United States)",6.7,15000,Frank Perry,Christina Crawford,Faye Dunaway,United States,5000000,19032261.0,Paramount Pictures,"129.0,"
261,Frances,R,Biography,1982,"March 11, 1983 (Australia)",7.3,7300,Graeme Clifford,Eric Bergren,Jessica Lange,United States,0,NaN,Brooksfilms,"140.0,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3770,Before Night Falls,R,Biography,2000,"February 23, 2001 (United States)",7.2,24000,Julian Schnabel,Cunningham O'Keefe,Javier Bardem,United States,0,8601053.0,El Mar Pictures,"133.0,"
3866,Blow,R,Biography,2001,"April 6, 2001 (United States)",7.6,246000,Ted Demme,Bruce Porter,Johnny Depp,United States,53000000,83282296.0,Apostle,"124.0,"
3942,Ali,R,Biography,2001,"December 25, 2001 (United States)",6.8,95000,Michael Mann,Gregory Allen Howard,Will Smith,United States,107000000,87812729.0,Columbia Pictures,"157.0,"
3984,Iris,R,Biography,2001,"March 29, 2002 (United States)",7.0,18000,Richard Eyre,John Bayley,Judi Dench,United Kingdom,5500000,16153953.0,British Broadcasting Corporation (BBC),"91.0,"
3985,Nowhere in Africa,R,Biography,2001,"May 16, 2003 (United States)",7.5,13000,Caroline Link,Caroline Link,Juliane Köhler,Germany,0,24322180.0,"BKM, kulturelle Filmförderung des Bundes",141.0

In [ ]:
df.groupby(['rating','genre']).get_group(('R','Crime'))

In [ ]:
df.groupby(['rating','genre']).get_group(('R','Crime'))

# Gropuing by using the loc

In [21]:
df.loc[df.genre=="Crime"]  # !=  not equal to

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,"runtime,,"
14,Dressed to Kill,R,Crime,1980,"July 25, 1980 (United States)",7.1,37000,Brian De Palma,Brian De Palma,Michael Caine,United States,6500000,31899000.0,Filmways Pictures,"104.0,"
20,Cruising,R,Crime,1980,"February 15, 1980 (United States)",6.5,20000,William Friedkin,William Friedkin,Al Pacino,West Germany,11000000,19814523.0,Lorimar Film Entertainment,"102.0,"
28,Brubaker,R,Crime,1980,"June 20, 1980 (United States)",7.2,17000,Stuart Rosenberg,W.D. Richter,Robert Redford,United States,9000000,37121708.0,Twentieth Century Fox,"131.0,"
29,American Gigolo,R,Crime,1980,"February 1, 1980 (United States)",6.2,22000,Paul Schrader,Paul Schrader,Richard Gere,United States,4800000,22743674.0,Paramount Pictures,"117.0,"
93,Body Heat,R,Crime,1981,"August 28, 1981 (United States)",7.4,32000,Lawrence Kasdan,Lawrence Kasdan,William Hurt,United States,0,24058838.0,The Ladd Company,"113.0,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3921,The Pledge,R,Crime,2001,"January 19, 2001 (United States)",6.8,55000,Sean Penn,Friedrich Dürrenmatt,Jack Nicholson,United States,35000000,29419291.0,Morgan Creek Entertainment,"124.0,"
3924,The Man Who Wasn't There,R,Crime,2001,"November 16, 2001 (United States)",7.5,106000,Joel Coen,Joel Coen,Billy Bob Thornton,United States,20000000,18916623.0,Good Machine,"116.0,"
3929,The Glass House,PG-13,Crime,2001,"September 14, 2001 (United States)",5.8,34000,Daniel Sackheim,Wesley Strick,Diane Lane,United States,30000000,23619609.0,Columbia Pictures,"106.0,"
3935,Baby Boy,R,Crime,2001,"June 27, 2001 (United States)",6.4,14000,John Singleton,John Singleton,Alexsandra Wright,United States,16000000,29381649.0,Columbia Pictures,"130.0,"
3948,In the Bedroom,R,Crime,2001,"February 8, 2002 (United States)",7.4,38000,Todd Field,Andre Dubus,Tom Wilkinson,United States,1700000,44763181.0,Good Machine,"131.0,"

In [ ]:
df.loc[df.genre == 'Crime']

In [ ]:
df.loc[df['genre'] == 'Crime']

In [ ]:
df.loc[(df.genre == 'Crime')&(df.rating == 'R')]  # gener = crime and rating R

In [ ]:
df.loc[(df.genre == 'Crime')|(df.rating == 'R')]

In [ ]:
df.loc[(df.genre == 'Crime')&((df.rating == 'R')|(df.rating == 'PG'))]

In [ ]:
df.loc[(df.budget <= 100000)]

In [ ]:
df.loc[(df. budget >=6500000 )&(df.budget <=11000000)]

In [ ]:
df.loc[(df.score >6.4 )]

## insert

df.insert(location_index, column_name , column_values)

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({'A':[1,2,3,4,5], 'B':[10,20,30,40,50]})
df

In [ ]:
df.insert(2, 'C', [1,2,3,4,5])
df

In [ ]:
df.insert(1,'d',"python")
df

In [ ]:
data = {"name":["Niraman","Abhishek","Gaytri"],"Location":["Pune","Nashik","Junnar"]}
data

In [ ]:
df_1 = pd.DataFrame(data)
df_1

In [ ]:
df.insert(location_index, column_name , column_values)

In [ ]:
df_1.insert(0,"CGPA",[9.4,9.2,9.2])
df_1

## Rename

In [ ]:
df_1

In [ ]:
df_1.rename({'name':'Name'},axis=1)   #axis 1 = columns

In [ ]:
df_1.rename({'name':'Name'},axis=0)

In [ ]:
df_1.T.rename({"name":"Name"},axis = 0)

In [ ]:
df_1